body {
    font-family: "Arial","sans-serif";
}

#content{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    background: lightblue;
    padding:10px;
}
li {
    text-align: center;
    font-size: 30px;
    list-style-type: none;
    width: 300px;
    margin: 0px auto;
    margin-bottom: 100px;
    border: 3px solid #000;
    padding: 30px;
}

li.anniv1 {
    background-color: #fff;
    color: #000;

}
li.anniv2 {
    background-color:lightyellow;
}

li.anniv3 {
    background-color: lightgreen;
}

li.anniv4 {
    background-color: lightsalmon;
}